@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body._lock {
  overflow: hidden; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light"), local("Open-Sans-Light"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Semi Bold"), local("Open-Sans-Semi-Bold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Extra Bold"), local("Open-Sans-Extra-Bold"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?1m7s9y");
  src: url("../fonts/icomoon.eot?1m7s9y#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?1m7s9y") format("truetype"), url("../fonts/icomoon.woff?1m7s9y") format("woff"), url("../fonts/icomoon.svg?1m7s9y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cursor:before {
  content: "\e900"; }

.icon-guarantees:before {
  content: "\e901"; }

.icon-item-lock:before {
  content: "\e903"; }

.icon-item-pointer:before {
  content: "\e905"; }

.icon-eye-schedule:before {
  content: "\e906"; }

.icon-schedule:before {
  content: "\e907"; }

.icon-item-magnifying-glass:before {
  content: "\e908"; }

.icon-item:before {
  content: "\e909"; }

.icon-pointer:before {
  content: "\e90a"; }

.icon-pointer-circle:before {
  content: "\e90b"; }

.icon-jackdaw-circle:before {
  content: "\e90c"; }

.icon-paw:before {
  content: "\e90d"; }

.icon-key:before {
  content: "\e90e"; }

.icon-eye:before {
  content: "\e90f"; }

.icon-closed-eye:before {
  content: "\e910"; }

.icon-letter:before {
  content: "\e912"; }

.icon-headphones:before {
  content: "\e913"; }

.icon-triangle:before {
  content: "\e914"; }

.icon-star:before {
  content: "\e915"; }

.icon-instagram:before {
  content: "\e916"; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: 1200px; } }

/*@media (max-width: 1064px) {
	.container {
		max-width: $WidthContainer_1024 + px;
	}
}*/
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.grade {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 144px; }

.grade__blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  height: 28px;
  max-width: 28px;
  background: #E9EEF6;
  position: relative;
  overflow: hidden;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .grade__blok:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #22C262;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  .grade__blok span {
    font-size: 16px;
    color: #fff;
    z-index: 5; }
  .grade__blok.grade__blok_100:before {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .grade__blok.grade__blok_50:before {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.header {
  padding: 15px 0; }
  @media (max-width: 1064px) {
    .header {
      padding: 8px 0; } }

.header__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__body_mb {
  display: none; }
  @media (max-width: 767px) {
    .header__body_mb {
      font-size: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header__body_mb .header__button {
        margin-right: 25px; } }

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 218px;
  flex: 0 0 218px;
  margin-right: 10px; }
  .header__logo img {
    width: 100%; }
  @media (max-width: 1064px) {
    .header__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
      flex: 0 0 170px; } }
  @media (max-width: 767px) {
    .header__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
      flex: 0 0 48px; } }

.header__logo_pc {
  display: none; }
  @media (min-width: 767.1px) {
    .header__logo_pc {
      display: block; } }

.header__logo_mb {
  display: none; }
  @media (max-width: 767px) {
    .header__logo_mb {
      display: block; } }

.burger {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%; }
  @media (max-width: 1064px) {
    .burger {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
      flex: 0 0 70%; } }

.header-list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-list__link a {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #111111;
  padding: 0 5px; }

@media (max-width: 1064px) {
  .header-list__link a {
    font-size: 14px;
    line-height: 18px;
    padding: 0 3px; } }

.header__button {
  border: 3px solid #6A34D8;
  padding: 5px 35px;
  border-radius: 28px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #111111; }
  @media (max-width: 1064px) {
    .header__button {
      font-size: 14px;
      padding: 3px 20px; } }

.menu__icon {
  display: none; }

@media (max-width: 767px) {
  .menu__icon {
    display: block;
    z-index: 25;
    position: relative;
    width: 30px;
    height: 13px;
    cursor: pointer; }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 25%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #111111; }
  .menu__icon::before,
  .menu__icon::after {
    content: ""; }
  .menu__icon::before {
    top: 0; }
  .menu__icon::after {
    bottom: 0; }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%); }
  .menu__icon._active {
    height: 18px; }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%); }
  .menu__icon._active::before {
    top: 50%;
    height: 10%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%); }
  .menu__icon._active::after {
    bottom: 50%;
    height: 10%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%); }
  .menu__body {
    position: fixed;
    z-index: 20;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: auto; }
    .menu__body * {
      display: none; }
  .menu__body._active {
    left: 0; }
  .menu__body::before {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background: #912105;
    z-index: 2; }
  .menu__list > li {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 30px 0; }
  .menu__list > li._active .menu__sub-list {
    display: block; }
  .menu__list > li:last-child {
    margin-bottom: 0; }
  .menu__link {
    font-size: 24px; }
  .menu__sub-list {
    position: relative;
    background: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none; }
  .menu__sub-link {
    font-size: 20px;
    color: #000; } }

.index-blok {
  overflow: hidden;
  background: -webkit-linear-gradient(226.69deg, rgba(177, 230, 251, 0.35) 0%, rgba(177, 230, 251, 0) 41.31%);
  background: -o-linear-gradient(226.69deg, rgba(177, 230, 251, 0.35) 0%, rgba(177, 230, 251, 0) 41.31%);
  background: linear-gradient(223.31deg, rgba(177, 230, 251, 0.35) 0%, rgba(177, 230, 251, 0) 41.31%); }

.index-blok-top {
  margin-bottom: 70px; }

.index-blok-top__title {
  font-family: Open Sans;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
  color: #111111;
  margin: 20px 0 15px 0;
  margin-top: 80px; }
  @media (max-width: 1240px) {
    .index-blok-top__title {
      font-size: calc(29px + 27 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .index-blok-top__title {
      line-height: calc(40px + 24 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .index-blok-top__title {
      margin-top: calc(30px + 50 * ((100vw - 320px) / 920)); } }
  .index-blok-top__title img {
    position: relative;
    top: 0px;
    height: 56px; }
    @media (max-width: 1240px) {
      .index-blok-top__title img {
        top: calc(3px + -3 * ((100vw - 320px) / 920)); } }
    @media (max-width: 1240px) {
      .index-blok-top__title img {
        height: calc(36px + 20 * ((100vw - 320px) / 920)); } }

.index-blok-top__text {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: #111111;
  max-width: 903px;
  margin: 0 auto; }
  @media (max-width: 1240px) {
    .index-blok-top__text {
      font-size: calc(20px + 3 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .index-blok-top__text {
      line-height: calc(30px + 6 * ((100vw - 320px) / 920)); } }
  .index-blok-top__text b {
    font-weight: 600; }
  .index-blok-top__text span {
    color: #22C262; }

.index-blok-top__grade-wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 440px;
  margin: 0 auto;
  margin-top: 30px; }
  @media (max-width: 540px) {
    .index-blok-top__grade-wrapper .index-blok-top__grade-text {
      font-size: 0;
      max-height: 0;
      max-width: 0; } }

.index-blok-top__grade-text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #111111; }

.index-blok-top__grade-text_star {
  color: #22C262;
  font-size: 20px;
  position: relative;
  top: 2.5px; }

.index-grade-mb {
  max-width: 180px;
  margin: 0 auto; }

.index-grade-mb__top {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }

.index-grade-mb__bottom {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.index-grade-mb-text__bottom {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #111111; }

.index-blok-body {
  padding-bottom: 20px; }

.index-blok-body__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .index-blok-body__wrapper {
      position: relative; } }

.index-blok-body__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  padding-top: 70px;
  padding-bottom: 40px; }
  @media (max-width: 767px) {
    .index-blok-body__content {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding-top: 120px; } }
  @media (max-width: 540px) {
    .index-blok-body__content {
      padding-top: 20vw; } }

.index-blok-body__list {
  margin-bottom: 35px; }
  @media (max-width: 767px) {
    .index-blok-body__list {
      position: relative;
      z-index: 5;
      background: #E9EEF6;
      -webkit-box-shadow: 0px 12px 32px 0px rgba(35, 34, 37, 0.08);
      box-shadow: 0px 12px 32px 0px rgba(35, 34, 37, 0.08);
      width: 60%;
      border-radius: 28px;
      padding: 25px; } }
  @media (max-width: 540px) {
    .index-blok-body__list {
      width: 90%;
      padding: 15px; } }

.index-blok-body-link {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px; }
  .index-blok-body-link:last-child {
    margin-bottom: 0; }

.index-blok-body-link__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  height: 64px;
  border-radius: 12px;
  background: #F3F3F3;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .index-blok-body-link__img span {
    color: #6A34D8;
    font-size: 46px; }

.index-blok-body-link__text {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #111111;
  padding-left: 20px; }

.index-blok-body__form {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px; }
  @media (max-width: 767px) {
    .index-blok-body__form {
      display: none; } }

.index-blok-body__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 45%;
  flex: 1 1 45%;
  height: 68px;
  overflow: hidden;
  border-radius: 12px;
  position: relative; }
  .index-blok-body__input input {
    background: #F3F3F3;
    width: 100%;
    height: 100%;
    padding-left: 48px;
    display: block;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #111; }
  .index-blok-body__input:before {
    content: "\e916";
    font-size: 22px;
    display: inline-block;
    color: #111;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px; }

.index-blok-body__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  padding: 0 20px;
  height: 68px;
  margin-left: 14px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  background: #6A34D8;
  border-radius: 40px; }
  @media (max-width: 1064px) {
    .index-blok-body__button {
      font-size: 14px; } }

.index-blok-body__button_mb {
  padding: 0 20px;
  height: 68px;
  margin-left: 14px;
  max-width: 230px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  background: #6A34D8;
  border-radius: 40px;
  position: relative;
  z-index: 5; }
  @media (min-width: 767px) {
    .index-blok-body__button_mb {
      display: none; } }

.index-blok-body__text {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #674075; }
  @media (max-width: 767px) {
    .index-blok-body__text {
      display: none; } }

.index-blok-body__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 47%;
  flex: 0 0 47%; }
  .index-blok-body__img img {
    width: 140%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 12px 32px 0px rgba(35, 34, 37, 0.08);
    box-shadow: 0px 12px 32px 0px rgba(35, 34, 37, 0.08);
    border-radius: 80px 0 0 80px; }
    @media (min-width: 2400px) {
      .index-blok-body__img img {
        height: calc(130% + 3vw) !important; } }
    @media (min-width: 1400px) {
      .index-blok-body__img img {
        width: auto;
        height: 130%; } }
    @media (max-width: 1064px) {
      .index-blok-body__img img {
        height: 130%;
        width: auto; } }
    @media (max-width: 767px) {
      .index-blok-body__img img {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        left: auto;
        right: 0;
        height: 120%;
        z-index: 1; } }
    @media (max-width: 540px) {
      .index-blok-body__img img {
        -webkit-transform: translateX(74%);
        -ms-transform: translateX(74%);
        transform: translateX(74%);
        height: 110%; } }
  .index-blok-body__img:before {
    width: 70vw;
    height: 130%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: #e7e8ed;
    -webkit-box-shadow: 0px 12px 32px 0px rgba(35, 34, 37, 0.08);
    box-shadow: 0px 12px 32px 0px rgba(35, 34, 37, 0.08); }
    @media (min-width: 2400px) {
      .index-blok-body__img:before {
        height: calc(130% + 3vw) !important; } }
    @media (min-width: 1400px) {
      .index-blok-body__img:before {
        content: ""; } }
  .index-blok-body__img:after {
    width: 40px;
    height: 130%;
    -webkit-transform: translateX(235px);
    -ms-transform: translateX(235px);
    transform: translateX(235px);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: #e7e8ed; }
    @media (min-width: 2400px) {
      .index-blok-body__img:after {
        height: calc(130% + 3vw) !important;
        width: calc(40px + 2vw) !important;
        -webkit-transform: translateX(calc(235px + 5vw));
        -ms-transform: translateX(calc(235px + 5vw));
        transform: translateX(calc(235px + 5vw)); } }
    @media (min-width: 1400px) {
      .index-blok-body__img:after {
        content: ""; } }
  @media (min-width: 767px) {
    .index-blok-body__img {
      position: relative; } }

.index-blok-bottom {
  padding: 200px 0 70px 0;
  position: relative;
  overflow: hidden;
  padding-top: 200px; }
  @media (max-width: 1240px) {
    .index-blok-bottom {
      padding-top: calc(100px + 100 * ((100vw - 320px) / 920)); } }
  .index-blok-bottom .index-blok-bottom__backgraund {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    @media (max-width: 540px) {
      .index-blok-bottom .index-blok-bottom__backgraund {
        width: 180%; } }
  .index-blok-bottom:before {
    content: "";
    width: 100%;
    height: 70%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    background: #F5E8F8;
    left: 0;
    z-index: -2; }
  @media (min-width: 2500px) {
    .index-blok-bottom:before {
      display: none; } }
  @media (min-width: 1920px) {
    .index-blok-bottom {
      padding-top: 10.5vw; } }

.index-blok-bottom__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .index-blok-bottom__wrapper {
      display: block; } }

.index-blok-bottom__blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  position: relative;
  z-index: 5; }
  @media (max-width: 767px) {
    .index-blok-bottom__blok {
      margin-bottom: 25px; }
      .index-blok-bottom__blok:last-child {
        margin-bottom: 0; } }

.index-blok-bottom__img {
  width: 80px; }

.index-blok-bottom__text {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #674075; }

.text-blok {
  background: #F5E8F8;
  padding: 60px 0; }

.text-blok-title {
  font-family: Open Sans;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 135px; }
  @media (max-width: 1240px) {
    .text-blok-title {
      font-size: calc(36px + 20 * ((100vw - 320px) / 920)); } }
  @media (max-width: 580px) {
    .text-blok-title {
      display: block;
      position: relative;
      padding-bottom: 25px; } }

.text-blok-title__title {
  position: relative;
  z-index: 5; }

.text-blok-title__sub-title {
  position: relative;
  padding: 0 40px; }
  .text-blok-title__sub-title span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #674075;
    z-index: 3;
    position: relative; }
  .text-blok-title__sub-title img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1; }
  @media (max-width: 580px) {
    .text-blok-title__sub-title {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 20px; } }

.text-blok__title-center {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #111111;
  position: relative;
  max-width: 825px;
  margin: 0 auto;
  margin-bottom: 20px; }
  @media (max-width: 1240px) {
    .text-blok__title-center {
      font-size: calc(30px + 6 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .text-blok__title-center {
      line-height: calc(36px + 12 * ((100vw - 320px) / 920)); } }
  .text-blok__title-center span {
    position: absolute;
    left: 0;
    top: 0;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #111111;
    display: inline-block;
    padding: 5px 20px;
    max-width: 80%;
    border-radius: 12px 12px 12px 0;
    -webkit-transform: translateY(-115%);
    -ms-transform: translateY(-115%);
    transform: translateY(-115%);
    background: -webkit-gradient(linear, left top, right top, from(#FFF5C8), to(#FFFDF4));
    background: -webkit-linear-gradient(left, #FFF5C8 0%, #FFFDF4 100%);
    background: -o-linear-gradient(left, #FFF5C8 0%, #FFFDF4 100%);
    background: linear-gradient(90deg, #FFF5C8 0%, #FFFDF4 100%); }

.text-blok__text {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #111;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 15px; }
  .text-blok__text b {
    font-weight: 600; }
  .text-blok__text.text-blok__text_s {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #674075; }

.text-blok-button {
  width: 500px;
  height: 68px;
  display: block;
  background: #111111;
  margin: 60px auto 5px auto;
  border-radius: 40px;
  position: relative;
  text-align: center; }
  @media (max-width: 560px) {
    .text-blok-button {
      width: 80%;
      height: 68px; } }
  @media (max-width: 560px) and (max-width: 1240px) {
    .text-blok-button {
      height: calc(50px + 18 * ((100vw - 320px) / 920)); } }

.text-blok-button__img {
  position: absolute;
  left: 35px;
  bottom: 5px; }
  @media (max-width: 560px) {
    .text-blok-button__img {
      left: 3%;
      bottom: 10%;
      width: 20%; }
      .text-blok-button__img img {
        width: 100%; } }

.text-blok-button__text {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 68px;
  color: #fff;
  padding-left: 27px;
  display: inline-block; }
  @media (max-width: 560px) {
    .text-blok-button__text {
      font-size: 3.5vw;
      padding-left: 0;
      line-height: 68px; } }
  @media (max-width: 560px) and (max-width: 1240px) {
    .text-blok-button__text {
      line-height: calc(50px + 18 * ((100vw - 320px) / 920)); } }

.text-blok-button__icon {
  font-size: 28px;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 35px; }
  @media (max-width: 560px) {
    .text-blok-button__icon {
      right: 8%;
      font-size: 5vw; } }

.content-block {
  background: #F5E8F8;
  padding: 25px 0; }
  .content-block.content-block_pading-bottom {
    padding-bottom: 170px; }

.content-block__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .content-block__body {
      display: block; } }

.content-block-text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }
  @media (max-width: 540px) {
    .content-block-text {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

@media (max-width: 540px) {
  .content-block-text.swiper-slide-active .content-block-text__title {
    opacity: 1;
    color: #111; }
  .content-block-text.swiper-slide-active .content-block-text__title .content-block-text__sub-title {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(-115%);
    -ms-transform: translateY(-115%);
    transform: translateY(-115%); }
  .content-block-text.swiper-slide-active .content-block-text__text {
    opacity: 1;
    visibility: visible; } }

.content-block-text__sub-title {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-115%);
  -ms-transform: translateY(-115%);
  transform: translateY(-115%);
  background: -webkit-gradient(linear, left top, right top, from(#FFF5C8), to(#FFFDF4));
  background: -webkit-linear-gradient(left, #FFF5C8 0%, #FFFDF4 100%);
  background: -o-linear-gradient(left, #FFF5C8 0%, #FFFDF4 100%);
  background: linear-gradient(90deg, #FFF5C8 0%, #FFFDF4 100%);
  padding: 5px 20px;
  display: inline-block;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #111;
  margin-bottom: 14px;
  border-radius: 12px 12px 12px 0; }
  .content-block-text__sub-title img {
    position: relative;
    top: 3px;
    padding: 0 4px; }
  @media (max-width: 540px) {
    .content-block-text__sub-title {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-90%);
      -ms-transform: translateY(-90%);
      transform: translateY(-90%);
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; } }

.content-block-text__title {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #111;
  margin-bottom: 20px;
  position: relative; }
  @media (max-width: 540px) {
    .content-block-text__title {
      opacity: 0.6;
      color: #674075;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .content-block-text__title.swiper-slide-active {
        opacity: 1;
        color: #111; }
      .content-block-text__title.swiper-slide-active .content-block-text__sub-title {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(-115%);
        -ms-transform: translateY(-115%);
        transform: translateY(-115%); }
      .content-block-text__title.swiper-slide-active .content-block-text__sub-title {
        opacity: 1;
        visibility: visible; } }

.content-block-text__text {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 300;
  line-height: 36px;
  color: #111; }
  .content-block-text__text b {
    font-weight: 600; }
  @media (max-width: 540px) {
    .content-block-text__text {
      margin-right: -15%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; } }

.content-block__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%; }
  .content-block__img img {
    width: 100%; }
  @media (max-width: 540px) {
    .content-block__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      width: 100% !important;
      height: 100% !important; } }

.content-block-mb {
  display: none;
  overflow: hidden; }
  @media (max-width: 540px) {
    .content-block-mb {
      display: block;
      background: #F5E8F8;
      padding-top: 75px;
      padding-bottom: 75px; } }
  @media (max-width: 540px) and (max-width: 1240px) {
    .content-block-mb {
      padding-top: calc(20px + 55 * ((100vw - 320px) / 920)); } }
  @media (max-width: 540px) and (max-width: 1240px) {
    .content-block-mb {
      padding-bottom: calc(20px + 55 * ((100vw - 320px) / 920)); } }

.content-block-mb__title {
  padding-top: 50px;
  overflow: visible;
  max-width: 85%;
  margin-left: 0; }

.content-block-mb__pointers {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px; }
  .content-block-mb__pointers .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .content-block-mb__pointers .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 32px;
    background: #111111; }

.form-blok {
  background: #F5E8F8;
  padding: 75px 0; }
  .form-blok .index-blok-body__form {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  @media (max-width: 767px) {
    .form-blok .index-blok-body__form {
      display: block !important; }
    .form-blok .index-blok-body__input {
      margin-bottom: 15px; }
    .form-blok .index-blok-body__button {
      width: 100%;
      display: block;
      border-radius: 30px;
      margin: 0; } }

.form-blok__wrapper {
  background: #fff;
  border-radius: 120px;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 90px;
  padding-right: 90px; }
  @media (max-width: 1240px) {
    .form-blok__wrapper {
      border-radius: calc(60px + 60 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .form-blok__wrapper {
      padding-top: calc(30px + 25 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .form-blok__wrapper {
      padding-bottom: calc(30px + 25 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .form-blok__wrapper {
      padding-left: calc(20px + 70 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .form-blok__wrapper {
      padding-right: calc(20px + 70 * ((100vw - 320px) / 920)); } }
  @media (max-width: 520px) {
    .form-blok__wrapper {
      padding: 40px 15px;
      margin: 0 -15px; } }

.form-blok__title {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #111;
  margin-bottom: 30px; }
  .form-blok__title img {
    margin-right: 7px;
    position: relative;
    top: 3px; }

.form-blok__sub-title {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #111;
  margin-bottom: 30px; }

.form-blok__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .form-blok__body {
      display: block; } }

.form-blok-blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  padding: 5px 20px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form-blok-blok:last-child {
    padding-right: 0; }
  .form-blok-blok:first-child {
    padding-left: 0; }
  @media (max-width: 767px) {
    .form-blok-blok {
      padding-left: 0 !important; } }

.form-blok-blok__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px; }
  .form-blok-blok__img img {
    width: 100%; }

.form-blok-blok__title {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #111;
  padding-left: 12px; }

.schedule {
  position: relative; }
  .schedule .schedule__img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }

.schedule__body {
  padding-bottom: 550px; }

.feedback {
  padding: 50px 0 120px 0;
  position: relative;
  overflow: hidden;
  /*@media (max-width: 920px) {
		& .grade {
			width: 287px;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		& .grade__blok {
			flex: 0 0 56px !important;
			max-width: 56px;
			height: 56px;
		}
		& .grade__blok span{
			font-size: 34px;
		}
	}*/ }
  .feedback:before {
    content: "";
    display: inline-block;
    background: #6A34D8;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2; }
  .feedback .grade {
    width: 287px;
    margin: 0 auto;
    margin-bottom: 10px; }
    @media (max-width: 1240px) {
      .feedback .grade {
        width: calc(144px + 143 * ((100vw - 320px) / 920)); } }
  .feedback .grade__blok {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 56px !important;
    flex: 0 0 56px !important;
    max-width: 56px;
    height: 56px; }
    @media (max-width: 1240px) {
      .feedback .grade__blok {
        max-width: calc(28px + 28 * ((100vw - 320px) / 920)); } }
    @media (max-width: 1240px) {
      .feedback .grade__blok {
        height: calc(28px + 28 * ((100vw - 320px) / 920)); } }
  .feedback .grade__blok span {
    font-size: 34px; }
    @media (max-width: 1240px) {
      .feedback .grade__blok span {
        font-size: calc(20px + 14 * ((100vw - 320px) / 920)); } }

.feedback__img {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1; }

.feedback__title {
  font-family: Open Sans;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
  color: #111111;
  margin-bottom: 15px; }
  @media (max-width: 1240px) {
    .feedback__title {
      font-size: calc(30px + 26 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .feedback__title {
      line-height: calc(38px + 26 * ((100vw - 320px) / 920)); } }

.feedback__sub-title {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: #111111;
  margin-bottom: 50px; }
  @media (max-width: 1240px) {
    .feedback__sub-title {
      font-size: calc(20px + 3 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .feedback__sub-title {
      line-height: calc(30px + 6 * ((100vw - 320px) / 920)); } }

.feedback__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.feedback-coment {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  background: #F3F3F3;
  padding: 25px 35px;
  border-radius: 28px 28px 28px 0;
  position: relative; }
  @media (max-width: 910px) {
    .feedback-coment {
      padding: 15px 25px; } }
  @media (max-width: 767px) {
    .feedback-coment {
      padding: 20px 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.feedback-coment__star {
  margin-bottom: 7px; }
  .feedback-coment__star img {
    margin-right: 3px;
    opacity: 0.3; }
  .feedback-coment__star span.active img {
    margin-right: 3px;
    opacity: 1; }

.feedback-coment__title {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #111111;
  margin-bottom: 8px; }
  @media (max-width: 1240px) {
    .feedback-coment__title {
      font-size: calc(16px + 2 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .feedback-coment__title {
      line-height: calc(24px + 4 * ((100vw - 320px) / 920)); } }

.feedback-coment__text {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  max-height: 120px;
  min-height: 120px;
  overflow: auto; }
  .feedback-coment__text::-webkit-scrollbar {
    width: 3px; }
  .feedback-coment__text::-webkit-scrollbar-track {
    background-color: rgba(229, 229, 229, 0.3); }
  .feedback-coment__text::-webkit-scrollbar-thumb {
    background: #E8E8E8;
    border-radius: 16px;
    display: block;
    max-height: 30px; }

.feedback-coment-bottom {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 78%;
  -webkit-transform: translate(-50%, 120%);
  -ms-transform: translate(-50%, 120%);
  transform: translate(-50%, 120%); }

.feedback-coment-bottom__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  height: 44px;
  max-width: 44px;
  border-radius: 50%; }
  @media (max-width: 1240px) {
    .feedback-coment-bottom__img {
      height: calc(20px + 24 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .feedback-coment-bottom__img {
      max-width: calc(20px + 24 * ((100vw - 320px) / 920)); } }
  @media (max-width: 540px) {
    .feedback-coment-bottom__img {
      max-width: 38px;
      height: 38px; } }

.feedback-coment-bottom__text {
  font-family: Open Sans;
  font-size: 14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #999999;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 8px;
  overflow: auto; }
  @media (max-width: 1240px) {
    .feedback-coment-bottom__text {
      font-size: calc(8px + 6 * ((100vw - 320px) / 920)); } }
  @media (max-width: 540px) {
    .feedback-coment-bottom__text {
      font-size: 12px; } }

.feedback-statistica {
  background: #D1FFEB;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  padding: 50px 60px;
  border-radius: 80px; }
  @media (max-width: 910px) {
    .feedback-statistica {
      padding: 25px 30px;
      border-radius: 40px; } }
  @media (max-width: 767px) {
    .feedback-statistica {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.feedback-statistica__title {
  font-family: Open Sans;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
  color: #111111;
  margin-bottom: 10px; }
  @media (max-width: 1240px) {
    .feedback-statistica__title {
      font-size: calc(10px + 46 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .feedback-statistica__title {
      line-height: calc(10px + 54 * ((100vw - 320px) / 920)); } }
  @media (max-width: 767px) {
    .feedback-statistica__title {
      font-size: 36px;
      line-height: 48px; } }

.feedback-statistica__text {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: #111111;
  margin-bottom: 20px; }
  @media (max-width: 1240px) {
    .feedback-statistica__text {
      font-size: calc(10px + 13 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .feedback-statistica__text {
      margin-bottom: calc(5px + 15 * ((100vw - 320px) / 920)); } }
  @media (max-width: 767px) {
    .feedback-statistica__text {
      font-size: 23px;
      line-height: 36px; } }

.feedback-statistica__sub-title {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #111111;
  margin-bottom: 12px; }

.feedback-statistica__text_s {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #111111;
  margin-bottom: 14px; }

.feedback-statistica__sub-title_s {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #111111; }
  .feedback-statistica__sub-title_s span {
    color: #22C262;
    font-size: 28px;
    margin-right: 7px;
    display: inline-block;
    position: relative;
    top: 4px; }

.mySwiper-feedback {
  max-width: 80%;
  margin-left: 0;
  overflow: visible; }
  @media (min-width: 767.1px) {
    .mySwiper-feedback {
      display: none; } }

.pricing {
  background: #6A34D8;
  padding: 75px 0px;
  padding-bottom: 150px; }
  @media (max-width: 520px) {
    .pricing .pricing__mb-none {
      display: none; } }

.pricing__wrapper {
  padding-left: 120px;
  padding-right: 120px; }
  @media (max-width: 1240px) {
    .pricing__wrapper {
      padding-left: calc(10px + 110 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .pricing__wrapper {
      padding-right: calc(10px + 110 * ((100vw - 320px) / 920)); } }
  @media (max-width: 920px) {
    .pricing__wrapper {
      padding: 0; } }

.pricing__title {
  font-family: Open Sans;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px; }
  @media (max-width: 1240px) {
    .pricing__title {
      font-size: calc(40px + 16 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .pricing__title {
      line-height: calc(48px + 16 * ((100vw - 320px) / 920)); } }

.pricing__sub-title {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 16px; }

.pricing__text {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin-bottom: 70px; }
  @media (max-width: 1240px) {
    .pricing__text {
      font-size: calc(20px + 3 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .pricing__text {
      line-height: calc(30px + 6 * ((100vw - 320px) / 920)); } }

.pricing__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 640px) {
    .pricing__body {
      display: block; } }

.pricing-blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  background: #4A1AAC;
  border: 3px solid #4A1AAC;
  border-radius: 80px;
  padding: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 1240px) {
    .pricing-blok {
      border-radius: calc(55px + 25 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .pricing-blok {
      padding: calc(30px + 35 * ((100vw - 320px) / 920)); } }
  @media (max-width: 640px) {
    .pricing-blok {
      margin: 0 -15px;
      margin-bottom: 55px; }
      .pricing-blok:last-child {
        margin-bottom: 0; } }

@media (max-width: 520px) {
  .pricing-blok__mb {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px; }
    .pricing-blok__mb * {
      margin-bottom: 0 !important; } }

.pricing-blok_pro {
  border: 3px solid #FFFFFF;
  position: relative; }
  .pricing-blok_pro:before {
    content: "Recommended";
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    padding: 4px 15px;
    background: #111111;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: -3px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .pricing-blok_pro .pricing-blok__button {
    background: #fff;
    color: #111; }

.pricing-blok__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.pricing-blok__title {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px; }
  @media (max-width: 520px) {
    .pricing-blok__title {
      margin-right: 5px; } }

.pricing-blok-number {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 27px; }
  @media (max-width: 520px) {
    .pricing-blok-number {
      margin-left: 5px; } }

.pricing-blok-number__dollar {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  -ms-flex-item-align: start;
  align-self: flex-start; }
  @media (max-width: 1240px) {
    .pricing-blok-number__dollar {
      font-size: calc(24px + 12 * ((100vw - 320px) / 920)); } }

.pricing-blok-number__body {
  font-family: Open Sans;
  font-size: 80px;
  font-weight: 700;
  line-height: 84px;
  color: #fff;
  -ms-flex-item-align: end;
  align-self: flex-end; }
  @media (max-width: 1240px) {
    .pricing-blok-number__body {
      font-size: calc(36px + 44 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .pricing-blok-number__body {
      line-height: calc(30px + 54 * ((100vw - 320px) / 920)); } }
  @media (max-width: 520px) {
    .pricing-blok-number__body {
      line-height: 38px;
      display: inline-block;
      padding: 0 7px; } }

.pricing-blok-number__text {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  -ms-flex-item-align: end;
  align-self: flex-end; }
  @media (max-width: 1240px) {
    .pricing-blok-number__text {
      font-size: calc(24px + 12 * ((100vw - 320px) / 920)); } }

.pricing-blok__text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #999999;
  max-width: 325px;
  margin: 0 auto; }
  @media (max-width: 520px) {
    .pricing-blok__text {
      max-width: none;
      text-align: left; } }

.pricing-blok__list {
  padding: 20px 0; }

.pricing-blok__link {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative; }
  .pricing-blok__link:before {
    font-family: 'icomoon';
    content: "\e90c";
    font-size: 20px;
    position: absolute;
    left: 0;
    color: #37D6A0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .pricing-blok__link.pricing-blok__link_transperent {
    opacity: 0.6; }
  .pricing-blok__link.pricing-blok__link_transperent:before {
    color: #6A34D8; }

.pricing-blok__button {
  border: 3px solid #FFFFFF;
  height: 68px;
  display: block;
  border-radius: 40px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 62px;
  text-align: center;
  color: #fff; }

.faq {
  background: #4A1AAC;
  padding: 75px 0;
  padding-bottom: 175px;
  position: relative; }
  .faq * {
    position: relative;
    z-index: 5; }

.faq__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%); }

.faq__title {
  font-family: Open Sans;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
  color: #fff;
  margin-bottom: 80px; }

.faq-blok {
  border-bottom: 1px solid #6A34D8;
  padding-bottom: 25px; }
  @media (max-width: 1240px) {
    .faq-blok {
      padding-bottom: calc(10px + 15 * ((100vw - 320px) / 920)); } }
  .faq-blok:last-child {
    border-bottom: none; }

.faq-blok__title {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: left; }
  @media (max-width: 1240px) {
    .faq-blok__title {
      padding-top: calc(10px + 15 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .faq-blok__title {
      padding-bottom: calc(10px + 15 * ((100vw - 320px) / 920)); } }
  .faq-blok__title._active .faq-blok__icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.faq-blok__text {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
  padding-right: 50px; }
  @media (max-width: 1240px) {
    .faq-blok__text {
      font-size: calc(18px + 6 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .faq-blok__text {
      padding-right: calc(20px + 30 * ((100vw - 320px) / 920)); } }

.faq-blok__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  height: 44px;
  background: #6A34D8;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .faq-blok__icon span {
    font-size: 20px;
    color: #fff; }

.faq-blok__body {
  background: #6A34D8;
  border-radius: 60px;
  padding: 55px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff; }
  @media (max-width: 1240px) {
    .faq-blok__body {
      border-radius: calc(30px + 30 * ((100vw - 320px) / 920)); } }
  @media (max-width: 1240px) {
    .faq-blok__body {
      padding: calc(30px + 25 * ((100vw - 320px) / 920)); } }

.footer {
  background: #111111;
  position: relative;
  padding: 90px 0;
  padding-bottom: 35px; }

.footer__backgraund {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

@media (max-width: 620px) {
  .footer__wrapper {
    display: none;
    max-height: 0;
    max-height: 0; } }

.footer-top {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px; }

.footer-top__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 218px;
  flex: 0 0 218px;
  max-width: 218px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }
  .footer-top__img img {
    width: 100%; }
  @media (max-width: 620px) {
    .footer-top__img {
      margin: 0 auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin-bottom: 15px; } }

.footer-body__bloc_left {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.footer-top__list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .footer-top__list {
      max-width: 400px; } }
  @media (max-width: 620px) {
    .footer-top__list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 auto;
      max-width: 300px;
      position: relative;
      left: -20px;
      margin-bottom: 20px; } }

.footer-top__link {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  margin-left: 35px; }
  @media (max-width: 620px) {
    .footer-top__link {
      margin-left: 20px; } }

.footer-body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7px; }

.footer-body__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer-body__text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
  margin-right: 7px; }
  @media (max-width: 1240px) {
    .footer-body__text {
      font-size: calc(10px + 4 * ((100vw - 320px) / 920)); } }
  @media (max-width: 620px) {
    .footer-body__text {
      text-align: center; } }

.footer-body__content_text {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #F3F3F3;
  margin-left: 12px; }
  @media (max-width: 1240px) {
    .footer-body__content_text {
      font-size: calc(12px + 2 * ((100vw - 320px) / 920)); } }
  .footer-body__content_text span {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    position: relative;
    top: 3px; }

.footer-body__content_list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer-body__content_list div {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    margin-left: 35px; }
  @media (max-width: 620px) {
    .footer-body__content_list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      left: -25px;
      margin-bottom: 40px; }
      .footer-body__content_list div {
        margin-left: 25px; } }

.footer-body__content_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-body__content_img div {
    margin-right: 16px; }
  .footer-body__content_img div:last-child {
    margin-right: 0px; }

.footer__mb {
  display: none; }

@media (max-width: 620px) {
  .footer__mb {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-mb__posithion1 {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .footer-mb__posithion2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .footer-mb__posithion3 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .footer-mb__posithion4 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .footer-mb__posithion5 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .footer-mb__posithion6 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .footer-mb__posithion7 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; } }
